/* Register Page Styling */
.register-container {
   width: 100%;
   max-width: 360px;
   margin: 0 auto;
   padding: 20px;
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.1);
   margin-top: 50px;
   margin-bottom: 9.7vh;
 }
 
 .register-box{
   align-items: center;
   justify-content: center;
 }

 .register-container h2 {
   color: #2980b9; 
   font-size: 2rem;
   margin-bottom: 20px;
   text-align: center;
 }
 
 .register-form {
   display: flex;
   flex-direction: column;
 }
 
 .register-form .form-field {
   margin-bottom: 15px;
 }
 
 .register-form label {
   font-size: 14px;
   color: #333;
   margin-bottom: 5px;
 }
 
 .register-form input,
 .register-form select {
   padding: 10px;
   font-size: 14px;
   border: 1px solid #ccc;
   border-radius: 4px;
   width: 100%;
 }
 
 .register-form input:focus,
 .register-form select:focus {
   outline: none;
   border-color: #007bff;
 }
 
 .register-form button {
   padding: 10px;
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 4px;
   font-size: 16px;
   cursor: pointer;
 }
 
 .register-form button:hover {
   background-color: #0056b3;
 }
 
 .register-form button:disabled {
   background-color: #c0c0c0;
   cursor: not-allowed;
 }
 
 @media (max-width:768px) {
   .register-container{
      margin-bottom: 3.8vh;
   }
 }